<body>
    <h1>Welcome to the Commerce Handling Section</h1>
    <div class="container"></div>
    <div class="changestate"></div>
    <div class="apply"></div>
</body>
<script src="../scripts/commerce.js"></script>
<link rel="stylesheet" href="../node_modules/foundation-sites/dist/css/foundation-float.css">
<link rel="stylesheet" href="../scripts/users.css">
<style scoped>
    .container{
        padding-top: 30px;
    }
    h1,p{
        text-align: center;
    }
    img{
        padding: 0 25px 0 0;
        margin-left: 15px;
        margin-bottom: 25px;
	height: 270px!important;
	width: 100%;
    }

    div.card{
        margin-left: 0;
        margin-right: 0;
    }
    div.row{
        padding: 10px 0;
    }

    @include breakpoint(small only) {
	height: 235px!important;
	width: 235px!important;
    }
</style>
