<body>
    <h1>Here you are in the Invoices section!</h1>
    <h2>You can view what products or services you bought and a pair of statistics about it as well!</h2>
    <div style="margin: 5% 20%">
        <label for="invoice">Select the invoice type:</label>
        <select id="invoice">
            <option value="products">Product Invoices & Statistics</option>
            <option value="services">Services Invoices & Statistics</option>
        </select>
    </div>
    <div class="buttons">
        <button id="showdata" style="background-color: #0094FF;" class="button small medium-only-expanded">SHOW DATA</button>
    </div>
    <div class="products"></div>
    <div class="services"></div>
</body>
<link rel="stylesheet" href="../scripts/users.css">
<script src="../scripts/invoices.js"></script>