<body>
    <h5 style="margin-top: 3%;">Here you can change your password or resetting if you forgot it!</h5>
    <div style="margin-top: 3%;" id="entry">
        <p><input type="radio" name="pwd" value="change"> Change</p>
        <p><input type="radio" name="pwd" value="reset"> Reset</p>
        <div class="buttons">
            <button type="button" class="button small medium-only-expanded success" id="proceed">Proceed</button>
        </div>    
    </div>
    <div class="logform" style="margin-top: 3%;" id="change">
        <label for="oldpwd">Retype old password: </label>
        <input type="password" id="oldpwd"><br>
        <label for="newpwd">Insert new password: </label>
        <input type="password" id="newpwd"><br>
        <label for="newpwd2">Retype new password</label>
        <input type="password" id="newpwd2">
        <div style="margin-top: 10%;" class="buttons">
            <button class="button small medium-only-expanded success" type="button" id="pwdchange">Change Password</button>
        </div>    
    </div>
    <div class="logform" style="margin-top: 3%;" id="reset">
        <h5><b>In order to reset your password we need the most important information you gave us!</b></h5><br>
        <label for="animalname">Insert the name of the pet you registered on the application!</label>
        <input type="text" id="animalname">
        <div class="buttons">
            <button class="button small medium-only-expanded success" type="button" id="checkName">Check Animal Name</button>
        </div>    
    </div>
    <div style="margin-top: 3%;" class="logform" id="pwdonreset">
        <h5><b>Well Done!! You could at least remember the name of your pet ;)</b></h5><br>
        <label for="resetpwd">Choose the new Password: </label>
        <input type="password" id="resetpwd">
        <div class="buttons">
            <button class="button small medium-only-expanded success" id="pwdreset" type="button">Reset Password</button>
        </div>    
    </div>
</body> 
<script src="../scripts/password.js"></script>  
<link rel="stylesheet" href="../scripts/users.css">
