<body>
    <div>
        <h1>Welcome to the Back Office Application</h1><br>
        <p><h5>This is the <b>Users</b> section!<br>Here there's some information about the registered users</h5></p>
        <br>
        <table class="center">
            <thead style="background-color: #8140ff;">
                <tr>
                    <th><h5>Username</h5></th>
                    <th><h5>Favourite Pets</h5></th>
                    <th><h5>Preferences</h5></th>
                    <th><h5>First Animal Name</h5></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="buttons">
            <a style="background-color: #35D429" id="loginview" href="#/users/login" class="button small medium-only-expanded">I WANT TO LOGIN OR CREATE MY OWN ACCOUNT</a>
            <a style="background-color: #3333FF;" id="changepwd" href="#/users/setpwd" class="button small medium-only-expanded">I WANT TO CHANGE MY PASSWORD</a>
            <button style="color: black; background-color: #FFB914;" id="rmuser" type="button" class="button small medium-only-expanded">I WANT TO REMOVE A USER</button>
        </div>
    </div>
</body>
<script src="../scripts/users.js"></script>
<link href="../scripts/users.css" rel="stylesheet">
